/* CSS for app */

.btnGreen{
	-fx-background-color:  #444242;
	-fx-text-fill: white;
}

.background{
	-fx-background-color: #808080;
}

.my-rect {
    -fx-fill: #808080;
    -fx-stroke: #ffffff8b;
    -fx-stroke-type: INSIDE;
}

